@charset "UTF-8";
input {
  outline: none;
}

.el-input {
  width: 250px;
  height: 40px;
  background: white;
  border: 1px solid #69ca8e;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(12, 3, 6, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(12, 3, 6, 0.2);
  border-radius: 6px;
  font-size: 18px;
  outline: none;
  padding-left: 9px;
}

.el-btn {
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #777f8f;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.el-btn-info-mlv {
  position: relative;
  border-radius: 10px;
  border: 1px solid #3cb99d;
  background: -webkit-gradient(linear, left bottom, left top, from(#48C1A6), to(#019272));
  background: linear-gradient(0deg, #48C1A6, #019272);
}

.el-btn-info-mlv::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info-lv {
  position: relative;
  border-radius: 10px;
  border: 1px solid #3cb99d;
  background: -webkit-gradient(linear, left bottom, left top, from(#74D549), to(#3FAE6D));
  background: linear-gradient(0deg, #74D549, #3FAE6D);
}

.el-btn-info-lv::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info-bs {
  position: relative;
  border-radius: 10px;
  border: 1px solid #3cb99d;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#E7E7E7));
  background: linear-gradient(0deg, #fff, #E7E7E7);
}

.el-btn-info-bs::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(230, 230, 230, 0.8)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(230, 230, 230, 0.8));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info-purple {
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#c523e7), to(#7c95ff));
  background: linear-gradient(90deg, #c523e7, #7c95ff);
}

.el-btn-info-purple::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(142, 183, 219, 0.23)), to(rgba(255, 255, 255, 0.23)));
  background: linear-gradient(0deg, rgba(142, 183, 219, 0.23), rgba(255, 255, 255, 0.23));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info-lightBlue {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#099add), to(#6dd6e9));
  background: linear-gradient(180deg, #099add, #6dd6e9);
}

.el-btn-info-lightBlue::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(142, 183, 219, 0.3)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(0deg, rgba(142, 183, 219, 0.3), rgba(255, 255, 255, 0.8));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info-yellow {
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#da7600), to(#da7600));
  background: linear-gradient(90deg, #da7600, #da7600);
}

.el-btn-info-yellow::before {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(142, 183, 219, 0.23)), to(rgba(255, 255, 255, 0.23)));
  background: linear-gradient(0deg, rgba(142, 183, 219, 0.23), rgba(255, 255, 255, 0.23));
  border-radius: 10px 10px 0 0;
  display: block;
  height: 50%;
  top: 0;
  left: 0;
}

.el-btn-info {
  background: -webkit-gradient(linear, left bottom, left top, from(#74d549), to(#3fae6d)) !important;
  background: linear-gradient(0deg, #74d549, #3fae6d) !important;
}

.el-btn-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#2685ce), to(#40aaec)) !important;
  background: linear-gradient(0deg, #2685ce, #40aaec) !important;
}

.triangle-left {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent #777F8F transparent transparent;
  /*透明 灰 透明 透明 */
}

.el-textarea {
  background: white;
  border: 1px solid #69ca8e;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(12, 3, 6, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(12, 3, 6, 0.2);
  border-radius: 8px;
  resize: none;
  outline: none;
  padding: 19px 22px 54px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.select-triangle-top {
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #4EB4CC;
  top: 6px;
}

.select-triangle-bottom {
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #4EB6CC;
  bottom: 6px;
}
/*# sourceMappingURL=reset-theme.css.map */