* {
    margin: 0;
    padding: 0;
}


html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "Microsoft YaHei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


.content-box {
    position: absolute;
    left: 189px;
    right: 0;
    top: 48px;
    bottom: 0;
    /* padding-bottom: 30px; */
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background:#ecebf2;
    opacity:1;
}

.content {
    width: auto;
    height: 100%;
    padding: 16px;
    overflow-y: auto;
    box-sizing: border-box;
}

.content-collapse {
    left: 63px;
}

/* .container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
} */

.crumbs {
    margin: 10px 0;
}

.v-modal {
    background:rgba(26,28,41,0.24) !important;
}