.el-input {
  width:250px;
  height:40px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(105, 202, 142, 1);
  box-shadow:0px 2px 5px 0px rgba(12,3,6,0.2);
  border-radius:6px;
  font-size:18px;
  outline: none;
  padding-left: 9px;
}

.el-btn {
  background:linear-gradient(0deg,#FFFFFF,#E7E7E7);
  border:1px solid rgba(179, 179, 179, 1);
  border-radius:8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:18px;
  font-weight:bold;
  color:rgba(119,127,143,1);
  text-shadow:0px 1px 0px rgba(255,255,255,1);
  outline: none;
  cursor: pointer;
}

.el-btn-info {
  background:linear-gradient(0deg,rgba(116,213,73,1),rgba(63,174,109,1)) !important;
}


// 三角形
.triangle-left{
  display: inline-block;
  width:0;
  height:0;
  margin-right: 10px;
  border-width:8px 8px 8px 0;
  border-style:solid;
  border-color:transparent #777F8F transparent transparent;/*透明 灰 透明 透明 */
  box-shadow:0px 1px 0px 0px rgba(255,255,255,1);
}

.el-textarea {
  background:rgba(255,255,255,1);
  border:1px solid rgba(105, 202, 142, 1);
  box-shadow:0px 2px 5px 0px rgba(12,3,6,0.2);
  border-radius:8px;
  resize:none;
  outline: none;
  padding:19px 22px 54px 20px;
  box-sizing: border-box;
  font-size: 14px;
}